###
# Generic template that provides the ``ci-fairy`` commandline tool, ``pip``
# and ``git``. This template is provided for convenience, it is not based on
# {{distribution}}.
#
# The ``ci-fairy`` capable image guarantees the following available packages:
# - git
# - python
# - pip
#
# This template sets ``image:`` to the ``ci-fairy`` capable image.
#
# **Example:**
#
# .. code-block:: yaml
#
#     check-merge-request:
#       extends: .fdo.ci-fairy
#       script:
#         - ci-fairy check-merge-request --require-allow-collaboration
#
# **Variables:**
#
# .. attribute:: FDO_DISTRIBUTION_IMAGE
#
#       **This variable is set by this template and should be treated as read-only**
#
#       Path to the registry image
#
#
# Variables provided by this template should be considered read-only.
#
.fdo.ci-fairy:
  image: {{ci_templates_registry}}{{ci_templates_registry_path}}:ci-fairy-sha256-{{ci_fairy.hashfiles(*sha_sources)}}
  variables:
    FDO_DISTRIBUTION_IMAGE: {{ci_templates_registry}}{{ci_templates_registry_path}}:ci-fairy-sha256-{{ci_fairy.hashfiles(*sha_sources)}}
